
/* Lists */
ul {
  margin: 0;
  padding: 0;
}

/* Container */
#container {
  position: relative;
  padding-top: 0px;
  border: 1px solid transparent;
}

.belt{
  position: relative;
}

/* Menu Button */
.menu-btn {
  display: none;
  position: absolute;
  top: 33px;
  width: 50px;
  height: 40px;
  background: transparent;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border: 0px;
  right: 10px;
  z-index: 1000;
    -webkit-transition: all 0.02s;
  -moz-transition: all 0.02s;
  -o-transition: all 0.02s;
  transition: all 0.01s; 
}

.xhamb #nav-icon1{
  top: 10px;
}

.menu-btn:hover {
  opacity: 1;
}

.menu-btn:focus{
  outline: none;
}

.sleft{
  position: fixed;
  right: 300px;
}


@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
}

