
*{
	margin: 0;
	padding: 0;
}

body {
  background: #1a2751;
  color: white;
}

main {
   height: 2000px;
}

.foto{
	position: absolute;
	top:0;
	left: 0;
	max-width: 500px;
	width: 100%;
	z-index: -1;
}

.active{
	background: transparent;
}

.tamano{
	width: 90px;
}

.spacer{
	height: 250px;
	width: 100%;
}

.spacer2{
	height: 80px;
	width: 100%;
}

.spacer21{
	height: 80px;
	width: 100%;
}

.spacer3{
	height: 60px;
	width: 100%;
}

.spacer4{
	height: 110px;
	width: 100%;
}

.spacer8{
	height: 80px;
	width: 100%;
}

@media screen and (max-width: 480px) {
   .spacer4{
		display: none;
	}

	.spacer8{
		display: none;
	}

	.spacer21{
		display: none;
	}
}

.wflex{
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-bottom: 50px;
}

.fuse{
	position: absolute;
	max-width:1200px;
	width: 100%;
}

.wflex .piece{
	flex: 1;
	color: white;
}

.spiece{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: 560px) {
  	.wflex .piece{
		flex: 0 1 100%;
		color: white;
	}
}

.wflex .piece:nth-child(2){
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.scloud img{
	width: 130px;
}

.scloud h3{
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	color: white;
	display: inline-block;
	position: relative;
	top: -5px;
	padding-right: 3px;
}

.piece h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	font-weight: 500;
	color: white;
}

.cielo{
	box-sizing: border-box;
	padding: 120px 16px 80px 16px;
}

@media screen and (max-width: 480px) {
	.cielo{
		box-sizing: border-box;
		padding: 120px 16px 0px 16px;
	}

	.scloud h3{
		display: block;
		padding-bottom: 3px;
	}

}

.cielo2{
	box-sizing: border-box;
	padding: 20px 16px 20px 16px;
}

.next{
	color: #6e75b4;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	font-weight: 500;
}

p{
	color: rgba(255,255,255,1);
}

.flexible{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.element{
	flex: 0 1 94%;
	z-index: 10;
}


@media screen and (min-width: 480px) {

	.flexible{
		justify-content: space-between;
	}


	.element{
		flex: 0 1 calc(50% - 16px);
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		transform: translateY(0px);
	}
}

@media screen and (min-width: 768px){

	.element{
		flex: 0 1 calc(33% - 16px);
	}
}

section {
	width:1140px;
	height: 1000px;
	margin: auto;
	background: #1a2751;
	text-align: center;
	border: 1px solid white;
}


ul.ball {
	text-align: left;
	margin-top: 120px;
}
ul.letters {
	text-align: right;
	width: 1100px;
}
ul.ball li {
	display: inline-block;
	list-style: none;
	width: 60px;
	height: 45px;
	border-radius: 60px;
	background: #fff;
	text-align: center;
	padding-top: 15px;
	font-size: 24px;
	margin: 15px;
}

/*.aos-item {
  display: inline-block;
  float: left;
  width: 33.3333%;
  height: 300px;
  padding: 20px;
}

.aos-item__inner {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  background: #1da4e2;
  line-height: 260px;
  text-align: center;
  color: #fff;
}*/

.boton {
	display: inline-block;
	background: #01ecfa;
	border-radius: 50px;
	padding: 0.8rem 1.7rem;
	outline: none;
	cursor: pointer;
	position: relative;
	 -webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in-out;
	letter-spacing: 2px;
	margin-top: 50px;
	text-transform: uppercase;
}

.boton a{
	color: #1a2751;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 14.5px;
	font-weight: 400;
}

.send{
	color: #01ecfa;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-decoration: none;
}

.parrafo{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #FFF;
	font-weight: 400;
	line-height: 28px;
}

.pleca{
	width: 80px;
	height: 2px;
	background-color: #01ecfa;
	margin: 40px 0px;
}

.pleca2{
	width: 2px;
	height:46px;
	background-color: #01ecfa;
	position: relative;
	top: 115px;
}

.pleca3{
	width: 50px;
	height: 2px;
	background-color: #01ecfa;
}

.senado{
	width: 80px;
	opacity: 0.6;
}

.senado-azul{
  display: none;
  position: absolute;
  width: 80px;
  z-index: 10;
}

.telmex{
	width: 120px;
	opacity: 0.6;
}

.telmex-azul{
  display: none;
  position: absolute;
  width: 120px;
  z-index: 10;
}

.citi{
	width: 170px;
	opacity: 0.6;
}

.citi-azul{
  display: none;
  position: absolute;
  width: 170px;
  z-index: 10;
}

.lacomer{
	width: 140px;
	opacity: 0.6;
}

.lacomer-azul{
  display: none;
  position: absolute;
  width: 140px;
  z-index: 10;
}

.televisa{
	width: 90px;
	opacity: 0.6;
}

.televisa-azul{
  display: none;
  position: absolute;
  width: 90px;
  z-index: 10;
}

.banorte{
	width: 140px;
	opacity: 0.6;
}

.banorte-azul{
  display: none;
  position: absolute;
  width: 140px;
  z-index: 10;
}

.tpj{
	width: 70px;
	opacity: 0.6;
}

.tpj-azul{
  display: none;
  position: absolute;
  width: 70px;
  z-index: 10;
}

.logos-flex-item a:hover .senado-azul,
.logos-flex-item a:hover .telmex-azul,
.logos-flex-item a:hover .citi-azul,
.logos-flex-item a:hover .lacomer-azul,
.logos-flex-item a:hover .televisa-azul,
.logos-flex-item a:hover .banorte-azul,
.logos-flex-item a:hover .tpj-azul
{
	display: block;
}


.icono{
	width: 70px;
	margin-bottom: 40px;	
}

.paper{
	width: 57px;
	margin-bottom: 40px;		
}

.element{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	background: #2d3561;
	margin-bottom: 10px;
	padding: 60px 40px;
	text-align: center;
}

.element h3{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: white;
}

.element p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 23px;
	font-weight: 400;
	color: #d7dcfa;
	margin-top: 35px;
}

.element h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #6e75b4;
	font-weight: 400;
	margin-bottom: 8px;
}

.box{
	flex: 0 1 94%;
	color: white;
	text-align: center;
	padding: 80px 0px;
	position: relative;
	z-index: 10;
	justify-content: center;
}

.box1{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 40px 40px 20px 40px;
	width: 100%;
	box-sizing: border-box;
}

.box1 h2{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	font-weight: 400;
}

.box1 h3{
	color: #6e75b4	;
	font-family: 'Roboto', sans-serif;
	font-size: 1.7em;
	font-weight: 400;
	margin-top: 30px;
}

.box h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	line-height: 23px;
	font-weight: 400;
	line-height: 1.1em;
}

.box p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 23px;
	font-weight: 400;
	color: #d7dcfa;
	margin-top: 35px;
}

.box1 p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 23px;
	font-weight: 400;
	color: #d7dcfa;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.box1 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
	color: #01ecfa;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;

}

.box h4{
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 23px;
}

.sbox{
	flex: 0 1 50%;
	text-align: center;
	margin-bottom: 30px;
}

.sbox h3{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 21px;
	font-weight: 400;
}

.sbox h3 span{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: 600;
}

.cbox{
	flex: 0 1 33%;
	text-align: center;
	margin-bottom: 30px;
}

@media screen and (max-width: 618px) {
	.cbox{
		flex: 0 1 100%;
		text-align: center;
		margin-bottom: 30px;
	}
}


@media screen and (max-width: 480px) {
   .sbox{
		flex: 0 1 100%;
		text-align: center;
	}

	.box{
		width: 100%;
		color: white;
		text-align: center;
		padding: 130px 0;
		z-index: 10;
	}

	.box1 h2{
		color: white;
		font-family: 'Roboto', sans-serif;
		font-size: 2.1em;
		font-weight: 400;
	}
}

.flecha{
	width: 15px;
}

.boton span{
	left: 0px;
	width: 28px;
	position: relative;
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.boton:hover span{
	left: 5px;
}

.bbox{
	box-sizing: border-box;
	padding: 18px;
	flex: 1;
}

.bebox{
	box-sizing: border-box;
	padding: 18px;
	flex: 1;
}

.bbox h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2.1em;
	font-weight: 400;
	color: white;
}


.bbox h3{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #6e75b4;
}

.bebox h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2.1em;
	font-weight: 400;
	color: white;
}


.bebox h3{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #6e75b4;
}

.computer{
	max-width: 300px;
	margin-top: 40px;
/*	position: relative;
	top: 60px;*/
}

.computer2{
	max-width: 410px;
	margin-top: 26px;
/*	position: relative;
	top: 30px;*/
}

.ecommerce{
	max-width: 380px;
	margin-top: 40px;
/*	position: relative;
	top: 60px;*/
}

.crawler{
	max-width: 400px;
	width: 100%;
	margin-top: 40px;
}

@media screen and (min-width: 768px){

   .sflexible{
		display: flex;
		flex-wrap: wrap;
	}

	.bbox{
		padding: 30px;
	}
}

@media screen and (max-width: 768px){

	.sflexible{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.bbox h2{
		font-size: 2em;
	}

	.bebox h2{
		font-size: 2em;
	}

    .bbox h3{
		font-size: 1em;
		margin-bottom: 3px;
	}

	.bebox h3{
		font-size: 1em;
		margin-bottom: 3px;
	}

	.computer{
		max-width: 220px;
	}

	.computer2{
		max-width: 220px;
	}

	.ecommerce{
		max-width: 220px;
	}

	.box h2{
		font-size:2.1em;
	}

	.bbox .logo{
		max-width: 60px;
	}

	.bbox:nth-child(1){
		order: 2;
	}

	.bbox:nth-child(2){
		order: 1;
	}

	.under{
		margin-bottom: 50px;
	}

}


.right{
	text-align: right;
}

.left{
	text-align: left;
}

.bbox ul li{
	list-style: none;
	color: #d7dcfa;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 26px;
	font-weight: 400;
}

.bebox ul li{
	list-style: none;
	color: #d7dcfa;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 26px;
	font-weight: 400;
}

.centered{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.cfondo{
	background-color: #2b3563;
/*	-webkit-box-shadow: 8px 8px 33px -8px rgba(0,0,0,0.66);
	-moz-box-shadow: 8px 8px 33px -8px rgba(0,0,0,0.66);
	box-shadow: 8px 8px 33px -8px rgba(0,0,0,0.66);*/
}

.wflex .piece2{
	padding: 0;
}

.cielo3{
	box-sizing: border-box;
	padding: 30px 30px 30px 30px;
}

@media screen and (max-width: 480px){
	.cielo3{
		margin-top: 20px;
	}
}

/*   Launch Modal    */

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .6);
  transition: opacity .25s ease;
  z-index: 1000;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 260px;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 35%;
    box-sizing: border-box;
  }
}

.btn {
  cursor: pointer;
  background: #01ecfa;
  display: inline-block;
  padding: 0.8rem 1.7rem;
  color: #1a2751;
  border-radius: 50px;
  outline: none;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.modal__inner h3 {
   font-family: 'Roboto', sans-serif;
   font-size: 1.2em;
   font-weight: 400;
   color: #000;
   text-align: center;
}

.antena{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.antena img{
	width: 100px;
}

