/*    Form Styles   */

.app-form-group{
	margin-bottom: 20px;
}

.app-form-group1 {
  font-size: 1rem;
  display: inline-block;
  width: 300px;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}

select::-ms-expand { display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
}

.app-form-group1::before{
  position: absolute;
  content: ' ';
  background-image: url('../fotos/parrow.svg');
  background-size: 19px 19px;
  width: 19px;
  height:19px;
  color: #FFF;
  right:20px;
  top: calc(50% - 0.5em);
  z-index: -1;
    -moz-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.rotated {
	transform: rotate(180deg);
}

.colur{
	transform: rotate(180deg);
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-control {
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  padding: 16px 20px;
  background: none;
  border: none;
  border: 1px solid #6e75b4;
  border-radius: 50px;
  color: #959ffa;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::-webkit-input-placeholder {
  color: #959ffa;
}

.app-form-control:-ms-input-placeholder {
  color: #959ffa;
}

.app-form-control::-ms-input-placeholder {
  color: #959ffa;
}

.app-form-control::placeholder {
  color: #959ffa;
}

.app-form-control:focus {
  border-color: #fff;
}

.app-form-button{
	display: inline-block;
	background: #01ecfa;
	border: 1px solid #01ecfa;
	border-radius: 50px;
	padding: 0.8rem 1.7rem;
	outline: none;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
	letter-spacing: 2px;
	margin-top: 25px;
	color: #1a2751;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.padded{
	padding-left: 0;
}

.app-form h3{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6em;
}

.margen{
	margin-top: 56px;
}


/*  inicia estilos para mensajes  */


.app-form-control2 {
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  padding: 14px 20px;
  background: none;
  border: none;
  border-bottom: 1px solid #6e75b4;
  color: #959ffa;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}

.app-form-control2::-webkit-input-placeholder {
  color: #959ffa;
}

.app-form-control2:-ms-input-placeholder {
  color: #959ffa;
}

.app-form-control2::-ms-input-placeholder {
  color: #959ffa;
}

.app-form-contro2::placeholder {
  color: #959ffa;
}

.app-form-control2:focus {
  border-bottom-color: #fff;
}

.box3{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.bbox .logo{
	max-width: 90px;
}

.bbox .logo2{
	max-width: 140px;
	margin-left: 30px;
	position: relative;
	top: -8px;
}

.bbox ul li{
	padding-right: 28px;
}

.bebox ul li{
	padding-left: 28px;
}

.bbox ul li:nth-child(1){
	border-right: 2px solid #01ecfa;
}

.bebox ul li:nth-child(1){
	border-left: 2px solid #01ecfa;
}

.bbox .logo3{
	max-width: 105px;
	margin-left: 29px;
	position: relative;
	top: -8px;
}

.last{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	align-items: flex-end;
}

.w100{
	width: 100%;
}

.app-form-button span{
	left: 0px;
	width: 28px;
	position: relative;
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.app-form-button:hover span{
	left: 5px;
}

.s-fondo{
	width: 100%;
	position: absolute;
	top: 1360px;
	z-index: 0;
}

footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0px;
}

footer h3{
	color: #6e75b4;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.box6{
	width: 100%;
}

.roll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.roll h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	color: #fff;
	font-weight: 400;
}

.roll h2 span{
	color: #6e75b4; 
}

.rocket{
	width: 55px;
	margin-bottom: 16px;
}

.rocket2{
	width: 86px;
	margin-bottom: 16px;
}

.boton3 {
	display: inline-block;
	background: #01ecfa;
	border-radius: 50px;
	padding: 0.8rem 1.7rem;
	outline: none;
	cursor: pointer;
	position: relative;
	 -webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in-out;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.boton3 a{
	color: #1a2751;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 14.5px;
	font-weight: 400;
}

.boton3 span{
	left: 0px;
	width: 28px;
	position: relative;
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.boton3:hover span{
	left: 5px;
}

.blue{
	color: #01ecfa;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 400;
}


/*   Estilos para Logos   */

.logos-flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 130px;
}

.logos-flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 80px;
  margin-top: 20px;
  position: relative;
}

.logos-flex-item img {
  transition: opacity 0.1s ease-in-out;
}

.logos-flex-item img.top:hover {
  opacity: 0;
}

.medios{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 40px;
	justify-content: flex-end;
	align-items: center;
}

@media screen and (max-width: 768px) {
  .logos-flex-container {
  	padding: 0 26px;
  }

  .padded{
  	padding: 0 16px;
  }
}

@media screen and (max-width: 480px) {
  .logos-flex-item {
  	text-align: center;
  	width: 100%;
  }

  .roll{
  	padding: 0 16px;
  }

  .boton3{
  	margin-top: 26px;
  }

  .medios{
  	justify-content: flex-start;
  	margin-top: 60px;
  }

  .bbox:nth-child(1){
  	margin-bottom: 0px;
  }

  .bbox:nth-child(2){
  	margin-bottom: 50px;
  }

  .bbox .logo{
		max-width: 50px;
  }

  .bbox .logo2{
		max-width: 90px;
		margin-left: 15px;
		position: relative;
		top: -8px;
  }

  .bbox .logo3{
		max-width: 70px;
		margin-left: 15px;
		position: relative;
		top: -8px;
  }

  footer h3{
  	text-align: center;
  }
}

.nube{
	max-width: 260px;
	width: 100%;
}

.five{
	max-width: 140px;
	width: 100%;
}

.haute{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.haute2{
	box-sizing: border-box;
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.soc{
	max-width: 145px;
	width: 100%;
}

.medios h3{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

.media{
	width: 32px;
	height: 32px;
	margin-left: 10px;
	cursor: pointer;
}

.contactus{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.contactus h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	font-weight: 400;
	color: white;
	margin-left: 26px;
	margin-top: 50px;
	cursor: pointer;
	padding: 8px 5px;
}

.contactus h3:hover{
	color: #01ecfa;
}

.contactus a{
	text-decoration: none;
}

.hamburg{
	width: 23px;
}

#features:focus, #ecommerce:focus, #web:focus, #document:focus{
	outline: none;
}

.wrapper8{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.futer{
	width: 100%;
}

.element1 {
	opacity: 0;
	-webkit-transform: translate(0, 20px);
	-moz-transform: translate(0, 20px);
	-o-transform: translate(0, 20px);
	transform: translate(0, 20px);
	    -webkit-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
}

.element1.visible { 
	opacity: 1;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

.cbox:nth-child(3) .haute2{
	background-image: url(../fotos/line2.svg);
	background-position: center;
	background-size: 250px 100px;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding: 0px 40px;
}

@media screen and (min-width:619px) and (max-width: 768px) {
  .cbox:nth-child(3) .haute2{
     background-size: 200px 100px;
  }
}

@media screen and (max-width: 618px) {
  .cbox{
  	margin-bottom: 0;
  }

   .cbox:nth-child(2) .haute2{

  	height: 230px;
  }

  .cbox:nth-child(3) .haute2{
  	background-image: url(../fotos/up-arrow.svg);
  	background-repeat: no-repeat;
  	background-size: 250px 140px;
  	height: 160px;
  }

  .cbox:nth-child(4) .haute2{
  	height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper8 .spacer{
		height: 140px;
	}

  .haute{
  	height: 200px;
  }

  .haute2{
  	height: 200px;
  }

  .sbox:nth-child(2){
     order: 3;
  }

  .sbox:nth-child(2) .haute2{
  	height: 150px;
  }

  .sbox:nth-child(4) .haute2{
  	height: 280px;
  	padding-top: 0px;
  	padding-bottom: 0px;
  }

  .sbox:nth-child(3){
  	order: 2;
  	margin-bottom: 0;
  }

  .sbox:nth-child(4){
  	order: 1;
  }
}

.world{
	opacity: 0;
		-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

header .xword .world{
	opacity:1;
}

.tagg{
	width: 30px;
	position: absolute;
}

/*     GSA Migration      */

.piece p{
	font-family: 'Roboto', sans-serif;
	font-size: 0.930em;
	font-weight: 300;
	color: white;
	line-height: 1.4em;
}

.list-outside{
	list-style:none;
	counter-reset: my-awesome-counter;
	padding-left: 40px;
}

.list-outside li{
	counter-increment: my-awesome-counter;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 0.930em;
	font-weight: 300;
	color: #d7dcfa;
	line-height: 1.6em;
	margin-bottom: 20px;
}

.list-outside li::before {
  content: counter(my-awesome-counter) ".";
  font-weight: 600;
  position: absolute;
/*  color: #8085b4;*/
  color: #4a80ff;
  top: 0;
  left: -23px;
}

.horizontal{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.puntos{
	max-width: 650px;
	width: 100%;
}

.wflex4{
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 50px;
	justify-content: space-between;
}

.wflex4 .piece{
	box-sizing: border-box;
	padding: 10px;
}

.wflex4 .piece4{
	flex: 0 1 48%;
	color: white;
}

.piece4 .parrafo{
	font-family: 'Roboto', sans-serif;
	font-size: 0.930em;
	font-weight: 300;
	color: #d7dcfa;
	line-height: 1.6em;
}

.parrafo span{
	font-weight: 700;
}

.puntos .parrafo{
	font-family: 'Roboto', sans-serif;
	font-size: 0.930em;
	font-weight: 300;
	color: #d7dcfa;
	line-height: 1.6em;
}

.migration{
	max-width: 650px;
	width: 100%;
}

.purple{
	color: #9ba0d1;
	/*color:#d7dcfa*/
}

.next2{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 20px;
	display: inline-block;
}

.nube{
	max-width: 500px;
	height: auto;
	width: 100%;
	text-align: center;
}

.line{
	max-width: 250px;
	height: auto;
	width: 100%;
	text-align: center;
}

.star{
	max-width: 300px;
	height: auto;
	width: 100%;
	text-align: center;
}

.caja{
	max-width: 300px;
	width: 100%;
	height: auto;
}

.wflex6{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
	justify-content: space-between;
}

.wflex6 .piece4{
	box-sizing: border-box;
	flex: 0 1 50%;
	color: white;
	padding: 10px;
}

@media screen and (max-width: 480px) {
	.wflex6 .piece4{
		flex: 0 1 100%;
		color: white;
		padding: 20px;
	}

	.wflex4 .piece{
		box-sizing: border-box;
		padding: 20px;
	}

	.nube{
		max-width: 330px;
		width: 100%;
	}
}

.box9{
	flex: 0 1 100%;
	color: white;
	text-align: center;
	padding: 80px 0px 20px 0px;
	position: relative;
	z-index: 10;
}

.box9 h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	line-height: 23px;
	font-weight: 400;
	line-height: 1.1em;
}

.box9 p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 23px;
	font-weight: 400;
	color: #d7dcfa;
	margin-top: 35px;
}

.box9 h4{
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 23px;
}

/*    Back to top     */

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #2a67c9;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

#back-to-top.show {
    opacity: 1;
}

.slogan{
	position: absolute;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	top: 90px;
	z-index: 100;
}

.slogan p{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: #d7dcfa;
	text-align: center;
}

@media screen and (max-width: 480px) {
	.slogan p{
		display: none;
	}
}

/*  Select option */

.app-form-group1 select{
	box-sizing: border-box;
	max-width: 300px;
	width: 100%;
	padding: 16px 20px;
	border: 1px solid #6e75b4;
	background: none;
	border-radius: 50px;
	color: #959ffa;
	font-size: 14px;
	outline: none;
}

.website{
	max-width: 380px;
	width: 100%;
	height: auto;
}

.s-ecommerce{
	max-width: 430px;
	width: 100%;
	height: auto;
}



