/*    Form Styles   */

.app-form-group {
  margin-bottom: 20px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-control {
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  padding: 16px 20px;
  background: none;
  border: none;
  border: 1px solid #6e75b4;
  border-radius: 50px;
  color: #959ffa;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::-webkit-input-placeholder {
  color: #959ffa;
}

.app-form-control:-ms-input-placeholder {
  color: #959ffa;
}

.app-form-control::-ms-input-placeholder {
  color: #959ffa;
}

.app-form-control::placeholder {
  color: #959ffa;
}

.app-form-control:focus {
  border-color: #fff;
}

.app-form-button{
	display: inline-block;
	background: #01ecfa;
	border: 1px solid #01ecfa;
	border-radius: 50px;
	padding: 0.8rem 1.7rem;
	outline: none;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
	letter-spacing: 2px;
	margin-top: 25px;
	color: #1a2751;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.padded{
	padding-left: 0;
}

.app-form h3{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6em;
}

.margen{
	margin-top: 56px;
}


/*  inicia estilos para mensajes  */


.app-form-control2 {
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  padding: 14px 20px;
  background: none;
  border: none;
  border-bottom: 1px solid #6e75b4;
  color: #959ffa;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control2::-webkit-input-placeholder {
  color: #959ffa;
}

.app-form-control2:-ms-input-placeholder {
  color: #959ffa;
}

.app-form-control2::-ms-input-placeholder {
  color: #959ffa;
}

.app-form-contro2::placeholder {
  color: #959ffa;
}

.app-form-control2:focus {
  border-bottom-color: #fff;
}

.box3{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.bbox .logo{
	max-width: 90px;
}

.bbox .logo2{
	max-width: 140px;
	margin-left: 30px;
	position: relative;
	top: -8px;
}

.bbox ul li{
	padding-right: 28px;
}

.bebox ul li{
	padding-left: 28px;
}

.bbox ul li:nth-child(1){
	border-right: 2px solid #01ecfa;
}

.bebox ul li:nth-child(1){
	border-left: 2px solid #01ecfa;
}

.bbox .logo3{
	max-width: 105px;
	margin-left: 29px;
	position: relative;
	top: -8px;
}

.last{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	align-items: flex-end;
}

.w100{
	width: 100%;
}

.app-form-button span{
	left: 0px;
	width: 28px;
	position: relative;
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.app-form-button:hover span{
	left: 5px;
}

.s-fondo{
	width: 100%;
	position: absolute;
	top: 1360px;
	z-index: 0;
}

footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0px;
}

footer h3{
	color: #6e75b4;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.box6{
	width: 100%;
}

.roll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.roll h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	color: #fff;
	font-weight: 400;
}

.roll h2 span{
	color: #6e75b4; 
}

.rocket{
	width: 55px;
	margin-bottom: 16px;
}

.boton3 {
	display: inline-block;
	background: #01ecfa;
	border-radius: 50px;
	padding: 0.8rem 1.7rem;
	outline: none;
	cursor: pointer;
	position: relative;
	 -webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in-out;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.boton3 a{
	color: #1a2751;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 14.5px;
	font-weight: 400;
}

.boton3 span{
	left: 0px;
	width: 28px;
	position: relative;
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.boton3:hover span{
	left: 5px;
}

.blue{
	color: #01ecfa;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 400;
}


/*   Estilos para Logos   */

.logos-flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 130px;
}

.logos-flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  margin-top: 10px;
  position: relative;
}

.logos-flex-item img {
  transition: opacity 0.1s ease-in-out;
}

.logos-flex-item img.top:hover {
  opacity: 0;
}

.medios{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 40px;
	justify-content: flex-end;
	align-items: center;
}

@media screen and (max-width: 768px) {
  .logos-flex-container {
  	padding: 0 26px;
  }

  .padded{
  	padding: 0 16px;
  }
}

@media screen and (max-width: 480px) {
  .logos-flex-item {
  	text-align: center;
  	width: 100%;
  }

  .roll{
  	padding: 0 16px;
  }

  .boton3{
  	margin-top: 26px;
  }

  .medios{
  	justify-content: flex-start;
  	margin-top: 60px;
  }

  .bbox .logo{
		max-width: 50px;
  }

  .bbox .logo2{
		max-width: 90px;
		margin-left: 15px;
		position: relative;
		top: -8px;
  }

  .bbox .logo3{
		max-width: 70px;
		margin-left: 15px;
		position: relative;
		top: -8px;
  }

  footer h3{
  	text-align: center;
  }
}

.nube{
	max-width: 260px;
	width: 100%;
}

.five{
	max-width: 140px;
	width: 100%;
}

.haute{
	width: 100%;
	height: 160px;
}

.soc{
	max-width: 145px;
	width: 100%;
}

.medios h3{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

.media{
	width: 32px;
	height: 32px;
	margin-left: 10px;
	cursor: pointer;
}

.contactus{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.contactus h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	font-weight: 400;
	color: white;
	margin-left: 26px;
	margin-top: 50px;
	cursor: pointer;
	padding: 8px 5px;
}

.contactus h3:hover{
	color: #01ecfa;
}

.hamburg{
	width: 23px;
}

#features:focus, #ecommerce:focus, #web:focus, #document:focus{
	outline: none;
}

.wrapper8{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

.futer{
	width: 100%;
}

.element1 {
	opacity: 0;
	-webkit-transform: translate(0, 20px);
	-moz-transform: translate(0, 20px);
	-o-transform: translate(0, 20px);
	transform: translate(0, 20px);
	    -webkit-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
}

.element1.visible { 
	opacity: 1;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

@media screen and (max-width: 480px) {
  .wrapper8 .spacer{
		height: 140px;
	}
}

.world{
	opacity: 0;
		-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

header .xword .world{
	opacity:1;
}

.tagg{
	width: 30px;
	position: absolute;
}

