* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  --main: #474c54;
  --blue: #7b8493; }

a {
  color: inherit;
  text-decoration: none; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  font-family: 'Roboto';
  background-color: var(--main);
  color: white;
  overflow-x: hidden;
  font-size: 14px;
  width: 100vw; }

header {
  width: 100vw;
  height: 50px;
  display: grid;
  grid-template-columns: 120px 1fr;
  padding: 10px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 20;
  left: 0; }
  header .ham {
    display: none; }
    @media (max-width: 770px) {
      header .ham {
        display: block;
        position: absolute;
        outline: none;
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        background: transparent;
        border: 0;
        z-index: 10; }
        header .ham::after, header .ham::before {
          content: '';
          width: 100%;
          height: 4px;
          right: 0;
          background-color: white;
          position: absolute;
          transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); }
        header .ham::after {
          top: 0; }
        header .ham::before {
          top: 10px;
          width: 70%; } }
  header .wave {
    height: 150px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 0; }
    header .wave svg {
      height: 100%;
      width: 100%; }
      header .wave svg path {
        stroke: none;
        fill: #373b41; }
        header .wave svg path.second {
          fill: #3e4249;
          opacity: .95; }
  header:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2c2c2c;
    height: 40px;
    opacity: 0.95;
    border: 1px solid #828282; }
  header ul {
    list-style: none;
    align-self: flex-start;
    text-align: right;
    position: relative; }
    header ul li {
      display: inline-block;
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 20px;
      transition: background-color .4s ease; }
      header ul li:hover {
        background-color: var(--blue); }
    @media (max-width: 770px) {
      header ul {
        position: fixed;
        width: 50vw;
        height: 100vh;
        background-color: #474c54f5;
        right: 0;
        top: 0;
        transform: translateX(100%);
        padding-top: 40px;
        transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); }
        header ul li {
          display: block;
          font-size: 20px;
          padding: 20px; } }
  header .logo {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.5s cubic-bezier(0.5, 0.01, 0.38, 0.86); }
    header .logo:before {
      width: 171%;
      background-color: #2c2c2c;
      height: 300px;
      position: absolute;
      top: -149px;
      left: -26px;
      transform: rotate(65deg);
      border: 1px solid #828282;
      transition: transform 0.3s cubic-bezier(0.5, 0.01, 0.38, 0.86); }
    header .logo svg {
      position: relative;
      height: 90px; }
    header .logo .text {
      transition: opacity .3s ease; }
  header.minumm .logo {
    transform: scale(0.8) translate(-20px, -25px); }
    header.minumm .logo .text {
      opacity: 0; }
    header.minumm .logo:before {
      transform: translate(-30px, -15px) rotate(60deg); }
  @media (max-width: 770px) {
    header.open ul {
      transform: translateX(0%); }
    header.open .ham::before {
      transform: rotate(-45deg); }
    header.open .ham::after {
      transform: rotate(45deg) translate(9px, 5px) scale(0.75, 1); } }

section {
  margin: 15vh auto;
  max-width: 1400px;
  align-items: center; }
  @media (max-width: 880px) {
    section {
      margin: 20vh auto; } }

#main {
  display: grid;
  grid-template-columns: 30% 68%;
  grid-gap: 10px;
  width: 95%;
  margin-bottom: 0; }
  #main nav {
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative; }
    #main nav ul {
      width: 100%;
      list-style: none; }
      #main nav ul li {
        width: 100%;
        display: block;
        margin: 10px;
        border-radius: 20px 0px 0 20px;
        padding: 15px 25px 15px 50px;
        transform: translateX(40px);
        cursor: pointer;
        transition: transform 0.4s cubic-bezier(0.5, 0.01, 0.38, 0.86), background-color 0.4s ease; }
        #main nav ul li:hover {
          transform: translateX(20px);
          background-color: #696969; }
        #main nav ul li.active {
          background-color: var(--blue);
          color: #222222;
          transform: translateX(0px); }
        #main nav ul li img {
          width: 25px;
          vertical-align: middle;
          position: absolute;
          left: 13px;
          top: 11px; }
    @media (max-width: 880px) {
      #main nav {
        grid-column: 1/3; }
        #main nav ul {
          text-align: center; }
          #main nav ul li {
            width: initial;
            display: inline-block;
            border-radius: 20px;
            transform: translateX(0px) translateY(10px); }
            #main nav ul li:hover {
              transform: translateX(0px) translateY(0px); } }
    @media (max-width: 770px) {
      #main nav ul li {
        width: 40px;
        height: 40px;
        padding: 0; }
        #main nav ul li img {
          width: 25px;
          height: 25px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        #main nav ul li p {
          opacity: 0;
          position: absolute;
          pointer-events: none; }
        #main nav ul li.active p {
          opacity: 1;
          top: -30px;
          left: 50%;
          transform: translateX(-50%);
          color: white;
          width: 150px;
          text-align: center; }
          #main nav ul li.active p.index {
            top: -45px; } }
  #main .demo {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2; }
    @media (max-width: 880px) {
      #main .demo {
        grid-column: 1/3; } }
    #main .demo .window {
      background-color: white;
      color: #666666;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      width: 100%;
      height: 320px;
      border: 10px solid #2c2c2c; }
      #main .demo .window .search-wrap {
        border-bottom: 1px solid #dcdcdc;
        padding: 20px 10px;
        width: 100%; }
        #main .demo .window .search-wrap .search-bar {
          border: 1px solid #dcdcdc;
          border-radius: 20px;
          width: 80%;
          position: relative;
          padding: 10px 15px; }
          #main .demo .window .search-wrap .search-bar .text {
            position: relative;
            display: inline-block;
            height: 17px;
            overflow: hidden;
            max-width: 70px;
            width: 100%;
            vertical-align: middle;
            transition: max-width .4s ease .5s; }
            #main .demo .window .search-wrap .search-bar .text h2 {
              font-size: 14px;
              font-weight: normal;
              display: inline-block;
              overflow: hidden;
              vertical-align: middle;
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0; }
              #main .demo .window .search-wrap .search-bar .text h2.active {
                opacity: 1; }
          #main .demo .window .search-wrap .search-bar .cursor {
            height: 20px;
            vertical-align: middle;
            width: 1px;
            background-color: black;
            display: inline-block;
            animation: cursor .8s linear infinite; }
          #main .demo .window .search-wrap .search-bar img {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            top: 10px; }
@keyframes cursor {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      #main .demo .window .results {
        padding: 15px;
        position: absolute;
        max-height: 220px;
        bottom: 10px;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translateX(200px);
        transition: transform 0.5s cubic-bezier(0.5, 0.01, 0.38, 0.86), opacity 0.3s ease; }
        #main .demo .window .results.active {
          opacity: 1;
          transform: translateX(0);
          pointer-events: initial; }
        #main .demo .window .results .result {
          margin-bottom: 20px; }
          #main .demo .window .results .result h2 {
            font-size: 14px;
            font-weight: normal;
            color: #1a0dab; }
          #main .demo .window .results .result span {
            font-size: 12px;
            color: #006621; }
        #main .demo .window .results.ecommerce .result, #main .demo .window .results.document .result {
          display: grid;
          grid-template-columns: 50px 1fr;
          grid-gap: 10px; }
          #main .demo .window .results.ecommerce .result img, #main .demo .window .results.document .result img {
            width: 100%; }
          #main .demo .window .results.ecommerce .result p, #main .demo .window .results.document .result p {
            font-weight: bold; }
        #main .demo .window .results.document .result p {
          font-weight: normal; }
  #main .features-wrapper {
    height: 240px;
    position: relative;
    grid-column: 1/3; }
    @media (max-width: 770px) {
      #main .features-wrapper {
        height: 400px; } }
    #main .features-wrapper .features {
      position: absolute;
      width: 100%;
      bottom: 0;
      opacity: 0;
      transform: translateY(10px);
      display: flex;
      pointer-events: none;
      border-radius: 1rem;
      justify-content: center;
      transition: transform 0.5s cubic-bezier(0.5, 0.01, 0.38, 0.86), opacity 0.3s ease; }
      #main .features-wrapper .features.active {
        opacity: 1;
        pointer-events: initial;
        transform: translateY(0px); }
        #main .features-wrapper .features.active .feature {
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
      #main .features-wrapper .features img {
        width: 160px;
        height: 160px;
        position: relative;
        left: 2.5rem;
        z-index: 2; }
      #main .features-wrapper .features .feature {
        background-color: #2e3339;
        padding: 1rem 1rem 1rem 6rem;
        border-radius: .5rem;
        position: relative;
        left: -2.5rem; }
        #main .features-wrapper .features .feature h2 {
          background-color: var(--blue);
          position: absolute;
          top: -20px;
          left: 5.4rem;
          padding: .5rem 2rem;
          border-radius: 1rem;
          font-size: 1.2rem; }
        #main .features-wrapper .features .feature p {
          font-size: 1.1rem;
          padding: 1rem;
          color: white; }
        #main .features-wrapper .features .feature button {
          background-color: var(--main);
          color: white;
          cursor: pointer;
          padding: .5rem 2rem;
          position: absolute;
          bottom: 10px;
          right: 10px;
          border: 0;
          border-radius: 10px; }
      @media (max-width: 770px) {
        #main .features-wrapper .features {
          bottom: initial;
          top: 0;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px; }
          #main .features-wrapper .features .feature {
            width: 100%; } }
  #main.website .demo .window .search-wrap .search-bar .text {
    max-width: 70px;
    animation: website .5s 1; }
@keyframes website {
  0% {
    max-width: 0; }
  50% {
    max-width: 0px; }
  100% {
    max-width: 70px; } }
  #main.ecommerce .demo .window .search-wrap .search-bar .text {
    max-width: 50px;
    animation: ecommerce .5s 1; }
@keyframes ecommerce {
  0% {
    max-width: 0; }
  50% {
    max-width: 0px; }
  100% {
    max-width: 50px; } }
  #main.document .demo .window .search-wrap .search-bar .text {
    max-width: 45px;
    animation: document .5s 1; }
@keyframes document {
  0% {
    max-width: 0; }
  50% {
    max-width: 0px; }
  100% {
    max-width: 45px; } }
.section.features {
  margin: 40px auto 40px auto; }
.section .cards-env {
  height: 60vh;
  width: 100%;
  position: relative; }
  .section .cards-env .arrow {
    width: 30px;
    height: 30px;
    background-color: #373b41;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%); }
    .section .cards-env .arrow:after {
      content: '';
      width: 8px;
      height: 8px;
      border: 2px solid white;
      border-radius: 1px;
      position: absolute;
      top: 50%;
      left: 50%;
      border-color: transparent transparent white white; }
    .section .cards-env .arrow.next {
      right: 30px; }
      .section .cards-env .arrow.next:after {
        transform: translate(-70%, -50%) rotate(-135deg); }
    .section .cards-env .arrow.prev {
      left: 30px; }
      .section .cards-env .arrow.prev:after {
        transform: translate(-30%, -50%) rotate(45deg); }
  .section .cards-env:before, .section .cards-env:after {
    content: '';
    width: 350px;
    height: 350px;
    background-color: #3e4249;
    border-radius: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }
  .section .cards-env:before {
    animation: pulse 4.5s ease infinite; }
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1); }
  50% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
  .section .cards-env:after {
    width: 320px;
    height: 320px;
    background-color: #373b41;
    z-index: 2;
    animation: pulseInv 4s ease infinite; }
@keyframes pulseInv {
  0% {
    transform: translate(-50%, -50%) scale(1); }
  50% {
    transform: translate(-50%, -50%) scale(0.9); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
  .section .cards-env .card {
    position: absolute;
    background-color: #2e3339;
    border: 1px solid var(--blue);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    z-index: 3;
    display: grid;
    grid-template-columns: 40% 60%;
    min-height: 200px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all .4s ease; }
    .section .cards-env .card .head {
      width: 100%;
      background-color: #f1f1f1;
      border-bottom: 1px solid #dcdcdc;
      padding: 2rem;
      position: relative;
      overflow: hidden; }
      .section .cards-env .card .head:before {
        content: '';
        border-radius: 50%;
        width: 200%;
        height: 100%;
        background-color: #e7e7e7;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translateX(-100%) rotate(45deg);
        transition: transform .4s ease .2s; }
      .section .cards-env .card .head .icon-wrap {
        width: 70px;
        height: 70px;
        position: relative;
        display: block;
        margin: 20px auto;
        border: 2px solid #6598ce;
        background-color: #f3f3f3;
        border-radius: 50%; }
        .section .cards-env .card .head .icon-wrap img {
          width: 90px;
          height: 90px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      .section .cards-env .card .head h2 {
        text-align: center;
        color: #666666;
        position: relative; }
    .section .cards-env .card .desc {
      display: flex;
      align-items: center; }
    .section .cards-env .card p {
      padding: 10px;
      color: white; }
    @media (max-width: 770px) {
      .section .cards-env .card {
        grid-template-columns: 1fr; }
        .section .cards-env .card p {
          padding: 20px; } }
  .section .cards-env.one .one {
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 1; }
    .section .cards-env.one .one .head:before {
      transform: translateX(0) rotate(45deg); }
  .section .cards-env.one .two {
    transform: translate(-20%, -50%) scale(0.8);
    z-index: 3;
    opacity: .8; }
  .section .cards-env.one .three {
    transform: translate(-80%, -50%) scale(0.8);
    z-index: 3;
    opacity: .8; }
  .section .cards-env.two .one {
    transform: translate(-80%, -50%) scale(0.8);
    z-index: 3;
    opacity: .8; }
  .section .cards-env.two .two {
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 1; }
    .section .cards-env.two .two .head:before {
      transform: translateX(0) rotate(45deg); }
  .section .cards-env.two .three {
    transform: translate(-20%, -50%) scale(0.8);
    z-index: 3;
    opacity: .8; }
  .section .cards-env.three .one {
    transform: translate(-20%, -50%) scale(0.8);
    z-index: 3;
    opacity: .8; }
  .section .cards-env.three .two {
    transform: translate(-80%, -50%) scale(0.8);
    z-index: 3;
    opacity: .8; }
  .section .cards-env.three .three {
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 1; }
    .section .cards-env.three .three .head:before {
      transform: translateX(0) rotate(45deg); }

#categories {
  position: relative;
  margin: 0 auto;
  padding: 10vh 0;
  background-color: #373b41; }
  #categories::after, #categories::before {
    content: '';
    background-image: url("img/rounded.svg");
    background-size: cover;
    width: 98vw;
    height: 60px;
    position: absolute;
    top: -60px; }
  #categories::after {
    top: initial;
    bottom: -60px;
    transform: rotate(180deg); }
  #categories .sections-wrapper .categorie {
    display: flex;
    width: 98%;
    margin-bottom: 80px; }
    #categories .sections-wrapper .categorie .image {
      width: 70%;
      text-align: center; }
      #categories .sections-wrapper .categorie .image h2 {
        font-size: 1.4rem;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem; }
      #categories .sections-wrapper .categorie .image img {
        width: 100%;
        height: 200px; }
    #categories .sections-wrapper .categorie .info {
      padding: 1rem;
      width: 100%;
      border-left: 4px solid var(--blue); }
      #categories .sections-wrapper .categorie .info ul {
        width: 100%;
        list-style: none;
        display: flex;
        position: relative; }
        #categories .sections-wrapper .categorie .info ul li {
          display: inline-block;
          font-size: 1.2rem;
          width: 100%;
          text-align: center;
          padding: .5rem; }
        #categories .sections-wrapper .categorie .info ul::before {
          content: '';
          width: 50%;
          position: absolute;
          background-color: var(--blue);
          height: 3px;
          bottom: -3px;
          left: 0; }
      #categories .sections-wrapper .categorie .info .text {
        padding: 1rem; }
      #categories .sections-wrapper .categorie .info p {
        font-size: 1.1rem;
        text-align: left; }
    #categories .sections-wrapper .categorie:nth-child(2) .info {
      border-left: 0;
      border-right: 4px solid var(--blue); }
    #categories .sections-wrapper .categorie:nth-child(2) p {
      text-align: right; }
    #categories .sections-wrapper .categorie:last-child {
      margin-bottom: 0; }

#gsa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin: 0 auto;
  padding: 20vh 10px; }
  #gsa:before {
    content: '';
    background-color: #18242d;
    width: 200%;
    height: 160%;
    position: absolute;
    top: -30%;
    left: -50%;
    transform: rotate(-5deg); }
    @media (max-width: 880px) {
      #gsa:before {
        height: 300px;
        top: 50%;
        transform: translateY(-50%) rotate(-5deg); } }
  #gsa .banner {
    position: relative; }
    #gsa .banner img {
      width: 90%;
      display: block;
      margin: 0 auto; }
  #gsa .info {
    display: flex;
    align-items: center; }
    #gsa .info .desc {
      border-left: 5px solid var(--blue);
      padding: 10px;
      position: relative; }
      #gsa .info .desc::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        left: -9px;
        width: 5px;
        height: 5px;
        background-color: transparent;
        border: 5px solid var(--main);
        border-color: transparent transparent var(--blue) var(--blue); }
  @media (max-width: 770px) {
    #gsa {
      grid-template-columns: 1fr; }
      #gsa .info .desc {
        border-left: 0;
        margin-top: 10px;
        text-align: center; }
        #gsa .info .desc::before {
          display: none; } }

#contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 10vh auto;
  position: relative; }
  @media (max-width: 770px) {
    #contacto {
      grid-template-columns: 1fr; } }
  #contacto .cta {
    width: 90%;
    margin: 0 auto; }
    @media (max-width: 770px) {
      #contacto .cta {
        padding: 15px 0; } }
  #contacto .form {
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    padding: 10px; }
    @media (max-width: 770px) {
      #contacto .form {
        width: 90%; } }
    #contacto .form .input-wrapper {
      position: relative; }
      #contacto .form .input-wrapper label {
        color: #666666;
        position: absolute;
        background-color: white;
        left: 20px;
        font-size: 12px;
        font-weight: bold;
        padding: 5px;
        top: -2px; }
      #contacto .form .input-wrapper input, #contacto .form .input-wrapper select {
        color: #666666;
        border: 1px solid #dcdcdc;
        font-size: 14px;
        padding: 10px;
        width: 100%;
        margin: 10px 0;
        border-radius: 20px;
        background-color: white; }
        #contacto .form .input-wrapper input:focus, #contacto .form .input-wrapper select:focus {
          outline: none;
          border-color: var(--blue); }
    #contacto .form button {
      display: block;
      position: relative;
      margin: 0 auto;
      background-color: var(--main);
      padding: 5px 20px;
      color: white;
      border: 0;
      border-radius: 20px;
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
