*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main: #474c54;
    --blue: #7b8493;
}
a{
    color: inherit;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: 'Roboto';
    background-color: var(--main);
    color: white;
    overflow-x: hidden;
    font-size: 14px;
    width: 100vw;
}
header{
    width: 100vw;
    height: 50px;
    display: grid;
    grid-template-columns: 120px 1fr;
    padding: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 20;
    left: 0;
    .ham{
        display: none;
        @media (max-width: 770px) {
            display: block;
            position: absolute;
            outline: none;
            right: 10px;
            top: 10px;
            width: 20px;
            height: 20px;
            background: transparent;
            border: 0;
            z-index: 10;
            &::after,&::before{
                content: '';
                width: 100%;
                height: 4px;
                right: 0;
                background-color: white;
                position: absolute;
                transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            &::after{
                top: 0;
            }
            &::before{
                top: 10px;
                width: 70%;
            }
        }
    }
    .wave{
        height: 150px;
        position: absolute;
        overflow: hidden;
        width: 100%;
        top: 0;
        svg{
            height: 100%;
            width: 100%;
            path{
                stroke: none;
                fill: #373b41;
                &.second{
                    fill: #3e4249;
                    opacity: .95;
                }
            }
        }
    }
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #2c2c2c;
        height: 40px;
        opacity: 0.95;
        border: 1px solid #828282;
    }
    ul{
        list-style: none;
        align-self: flex-start;
        text-align: right;
        position: relative;
        li{
            display: inline-block;
            margin: 0 5px;
            padding: 5px 10px;
            border-radius: 20px;
            transition: background-color .4s ease;
            &:hover{
                background-color: var(--blue);
            }         
        }
        @media (max-width: 770px) {
            position: fixed;
            width: 50vw;
            height: 100vh;
            background-color: #474c54f5;
            right: 0;
            top: 0;
            transform: translateX(100%);
            padding-top: 40px;
            transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
            li{
                display: block;
                font-size: 20px;
                padding: 20px;
            }
        }
    }
    .logo{
        position: relative;
        width: 100%;
        text-align: center;
        transition: transform .5s cubic-bezier(.5,.01,.38,.86);
        &:before{
            width: 171%;
            background-color: #2c2c2c;
            height: 300px;
            position: absolute;
            top: -149px;
            left: -26px;
            transform: rotate(65deg);
            border: 1px solid #828282;

            transition: transform .3s cubic-bezier(.5,.01,.38,.86);
        }
        svg{
            position: relative;
            height: 90px;
        }
        .text{
            transition: opacity .3s ease;
        }
    }
    &.minumm{
        .logo{
            transform: scale(.8) translate(-20px,-25px);
            .text{
                opacity: 0;                
            }
            &:before{
                transform: translate(-30px,-15px) rotate(60deg);
            }
        }
    }
    &.open{
        @media (max-width: 770px) {
            ul{
                transform: translateX(0%);
            }
            .ham{
                &::before{
                    transform: rotate(-45deg);
                }
                &::after{
                    transform: rotate(45deg) translate(9px,5px) scale(.75,1);
                }
            }
        }
        
    }
}
section{
    margin: 15vh auto;
    max-width: 1400px;
    align-items: center;
    
    @media (max-width: 880px) {
        margin: 20vh auto;
    }

}
#main{
    display: grid;
    grid-template-columns: 30% 68%;
    grid-gap: 10px;
    width: 95%;
    margin-bottom: 0;
    nav{
        display: flex;
        align-items: center;
        z-index: 1;
        position: relative;        
        ul{
            width: 100%;
            list-style: none;
            li{
                width: 100%;
                display: block;
                margin: 10px; 
                border-radius: 20px 0px 0 20px;
                padding: 15px 25px 15px 50px;
                transform: translateX(40px);
                cursor: pointer;
                transition: transform .4s cubic-bezier(.5,.01,.38,.86), background-color .4s ease;
                &:hover{
                    transform: translateX(20px);
                    background-color: #696969;
                }
                &.active{
                    background-color: var(--blue);
                    color: #222222;
                    transform: translateX(0px);
                }
                img{
                    width: 25px;
                    vertical-align: middle;
                    position: absolute;
                    left: 13px;
                    top: 11px;
                }       
            }
        }


        @media (max-width: 880px) {
            grid-column: 1/3;
            ul{
                text-align: center;
                li{
                    width: initial;
                    display: inline-block;
                    border-radius: 20px;                    
                    transform: translateX(0px) translateY(10px);
                    &:hover{
                        transform: translateX(0px) translateY(0px);
                    }
                }
            }
        }

        @media (max-width: 770px) {
            ul{
                li{
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    img{
                        width: 25px;
                        height: 25px;                        
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                    p{
                        opacity: 0;
                        position: absolute;
                        pointer-events: none;
                    }
                    &.active{
                        p{
                            opacity: 1;
                            top: -30px;
                            left: 50%;
                            transform: translateX(-50%);
                            color: white;
                            width: 150px;
                            text-align: center;
                            &.index{
                                top: -45px;
                            }
                        }
                    }
                }
            }
        }
    }
    .demo{
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        @media (max-width: 880px) {
            grid-column: 1/3;
        }
        .window{
            background-color: white;
            color: #666666;
            box-shadow: 0 5px 10px rgba(0,0,0,.1);
            border-radius: 5px;
            width: 100%;
            height: 320px;
            border: 10px solid #2c2c2c;
            .search-wrap{
                border-bottom: 1px solid #dcdcdc;
                padding: 20px 10px;
                width: 100%;
                .search-bar{
                    border: 1px solid #dcdcdc;
                    border-radius: 20px;
                    width: 80%;
                    position: relative;
                    padding: 10px 15px;
                    .text{
                        position: relative;
                        display: inline-block; 
                        height: 17px;
                        overflow: hidden;
                        max-width: 70px;   
                        width: 100%;   
                        vertical-align: middle;
                        transition: max-width .4s ease .5s;          
                        h2{
                            font-size: 14px;
                            font-weight: normal;
                            display: inline-block;
                            overflow: hidden;
                            vertical-align: middle;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0;

                            &.active{
                                opacity: 1;                                
                            }
                        }
                    } 
                    .cursor{
                        height: 20px;
                        vertical-align: middle;
                        width: 1px;
                        background-color: black;
                        display: inline-block;
                        animation: cursor .8s linear infinite;
                    }
                    img{
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: 10px;
                        top: 10px;
                    }
                    @keyframes cursor {
                        from{
                            opacity: 0;
                        }
                        to{                               
                            opacity: 1;
                        }
                    }              
                }                
            }    
            // resultados generales
            .results{
                padding: 15px;
                position: absolute;
                max-height: 220px;
                bottom: 10px;
                width: 100%;
                overflow: hidden;
                opacity: 0;
                pointer-events: none;
                transform: translateX(200px);
                transition: transform .5s cubic-bezier(.5,.01,.38,.86), opacity .3s ease;
                &.active{
                    opacity: 1;
                    transform: translateX(0);
                    pointer-events: initial;
                }
                .result{
                    margin-bottom: 20px;                    
                    h2{
                        font-size: 14px;
                        font-weight: normal;
                        color: #1a0dab;
                    }
                    span{
                        font-size: 12px;
                        color: #006621;
                    }
                }
                //ecomerce, documentos
                &.ecommerce,&.document{
                    .result{
                        display: grid;
                        grid-template-columns: 50px 1fr;
                        grid-gap: 10px;
                        img{
                            width: 100%;
                        }
                        p{
                            font-weight: bold;
                        }
                    }
                }
                //documentos
                &.document{
                    .result{
                        p{
                            font-weight: normal;
                        }
                    }
                }
            }        
        }
    }
    .features-wrapper{
        height: 250px;
        position: relative;
        grid-column: 1/3;
        @media (max-width: 770px) {
            height: 400px;
        }
        .features{
            position: absolute;
            width: 100%;
            bottom: 0;
            opacity: 0;
            transform: translateY(10px);
            pointer-events: none;
            display: flex;
           justify-content: center;            
            padding: 40px 20px 20px 20px;
            transition: transform .5s cubic-bezier(.5,.01,.38,.86), opacity .3s ease;
            &.active{
                opacity: 1;
                pointer-events: initial;
                transform: translateY(0px);
                .feature{
                    box-shadow: 0 5px 10px rgba(0,0,0,.1);
                }
            }
            .feature{
                width: calc(100% / 4);
                margin: 10px;
                border-radius: 10px;
                padding: 10px;
                border: 1px solid var(--blue);
                box-shadow: 0 0px 0px rgba(0,0,0,.1);
                transition: box-shadow .8s cubic-bezier(.5,.01,.38,.86);
                .icon{
                    width: 40px;
                    height: 40px;
                    margin: 0 auto;
                    margin-top: -30px;
                    border-radius: 50%;
                    background-color: var(--blue);
                }
                .info{
                    p{
                        text-align: center;
                        padding: 10px;
                    }
                }

            }
            @media (max-width: 770px) {
                bottom: initial;
                top: 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                .feature{
                    width: 100%;
                }
            }

        }
    }
    

    &.website{
        .demo{
            .window{
                .search-wrap{
                    .search-bar{
                        .text{
                            max-width: 70px;
                            animation: website .5s 1;
                        }
                        @keyframes website {
                            0%{
                                max-width: 0; 
                            }
                            50%{
                                max-width: 0px;
                            }
                            100%{
                                max-width: 70px;
                            }
                        }
                        
                    }
                }
            }            
        }
    }
    &.ecommerce{
        .demo{
            .window{
                .search-wrap{
                    .search-bar{
                        .text{
                            max-width: 50px;
                            animation: ecommerce .5s 1;
                        }
                        @keyframes ecommerce {
                            0%{
                                max-width: 0; 
                            }
                            50%{
                                max-width: 0px;
                            }
                            100%{
                                max-width: 50px;
                            }
                        }
                    }
                }
            }            
        }
    }
    &.document{
        .demo{
            .window{
                .search-wrap{
                    .search-bar{
                        .text{
                            max-width: 45px;
                            animation: document .5s 1;
                        }
                        @keyframes document {
                            0%{
                                max-width: 0; 
                            }
                            50%{
                                max-width: 0px;
                            }
                            100%{
                                max-width: 45px;
                            }
                        }
                    }
                }
            }            
        }
    }
}

.section{
    &.features{
        margin: 20px auto 40px auto;
    }    
   .cards-env{
        height: 60vh;
        width: 100%;
        position: relative;
        .arrow{
            width: 30px;
            height: 30px;
            background-color: #373b41;
            position: absolute;
            top: 50%;
            border-radius: 50%;
            transform: translateY(-50%);
            &:after{
                content: '';
                width: 8px;
                height: 8px;
                border: 2px solid white;
                border-radius: 1px;
                position: absolute;
                top: 50%;
                left: 50%;
                border-color: transparent transparent white white;
            }
            &.next{
                right: 30px;
                &:after{
                    transform: translate(-70%,-50%) rotate(-135deg);
                }
            }
            &.prev{
                left: 30px;
                &:after{
                    transform: translate(-30%,-50%) rotate(45deg);
                }
            }
        }
        &:before,&:after{
            content: '';
            width: 350px;
            height: 350px;
            background-color: #3e4249;
            border-radius: 50%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
        }
        &:before{
            animation: pulse 4.5s ease infinite;
        }
        @keyframes pulse {
            0%{
                transform: translate(-50%,-50%) scale(1);
            }
            50%{
                transform: translate(-50%,-50%) scale(1.1);
            }
            100%{
                transform: translate(-50%,-50%) scale(1);
            }
        }
        &:after{
            width: 320px;
            height: 320px;
            background-color: #373b41;
            z-index: 2;
            animation: pulseInv 4s ease infinite;
        }
        @keyframes pulseInv {
            0%{
                transform: translate(-50%,-50%) scale(1);
            }
            50%{
                transform: translate(-50%,-50%) scale(.9);
            }
            100%{
                transform: translate(-50%,-50%) scale(1);
            }
        }
       .card{
            position: absolute;
            background-color: #434344;
            border: 1px solid var(--blue);
            border-radius: 4px;
            top: 50%;
            left: 50%;
            z-index: 3;
            display: grid;
            grid-template-columns: 40% 60%;
            min-height: 200px;
            box-shadow: 0 3px 5px rgba(0,0,0,.1);
            transition: all .4s ease;

            .head{
                width: 100%;
                background-color: #f1f1f1;
                border-bottom: 1px solid #dcdcdc;
                padding: 10px;
                position: relative;
                overflow: hidden;
                &:before{
                    content: '';
                    border-radius: 50%;
                    width: 200%;
                    height: 100%;
                    background-color: #e7e7e7;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    transform: translateX(-100%) rotate(45deg);
                    transition: transform .4s ease .2s;
                }
                .icon-wrap{
                    width: 70px;
                    height: 70px;
                    position: relative;
                    display: block;
                    margin: 20px auto;
                    border: 2px solid #6598ce;
                    background-color: #f3f3f3;
                    border-radius: 50%;
                    img{
                        width: 90px;
                        height: 90px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
                h2{
                    text-align: center;
                    color: #666666;
                    position: relative;
                }
            }
            .desc{
                display: flex;
                align-items: center;
            }
            p{
                padding: 10px;
                color: white;
            }
            @media (max-width: 770px) {
                grid-template-columns: 1fr;
                p{
                    padding: 20px;
                }
            }
       }
       &.one{
           .one{
                transform: translate(-50%,-50%);
                z-index: 4;
                opacity: 1;
                .head{
                    &:before{
                        transform: translateX(0) rotate(45deg);
                    }
                }
           }
           .two{
                transform: translate(-20%,-50%) scale(.8);
                z-index: 3;
                opacity: .8;
           }
           .three{
                transform: translate(-80%,-50%) scale(.8);
                z-index: 3;
                opacity: .8;
           }
       }
       &.two{
            .one{
                 transform: translate(-80%,-50%) scale(.8);
                 z-index: 3;
                 opacity: .8;
            }
            .two{                 
                 transform: translate(-50%,-50%);
                 z-index: 4;
                 opacity: 1;
                 .head{
                    &:before{
                        transform: translateX(0) rotate(45deg);
                    }
                }
            }
            .three{
                 transform: translate(-20%,-50%) scale(.8);
                 z-index: 3;
                 opacity: .8;
            }
        }
        &.three{
            .one{
                 transform: translate(-20%,-50%) scale(.8);
                 z-index: 3;
                 opacity: .8;
            }
            .two{                 
                 transform: translate(-80%,-50%) scale(.8);
                 z-index: 3;
                 opacity: .8;
            }
            .three{
                 transform: translate(-50%,-50%);
                 z-index: 4;
                 opacity: 1;
                 .head{
                    &:before{
                        transform: translateX(0) rotate(45deg);
                    }
                }
            }
        }
   }
}

#gsa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin: 0 auto;
    padding: 20vh 10px;
    &:before{
        content: '';
        background-color: #434344;
        width: 200%;
        height: 160%;
        position: absolute;
        top: -30%;
        left: -50%;
        transform: rotate(-5deg);
        @media (max-width: 880px) {
            height: 300px;
            top: 50%;
            transform: translateY(-50%) rotate(-5deg);
        }

    }
    .banner{
        position: relative;
        img{
            width: 90%;
            display: block;
            margin: 0 auto;
        }
    }
    .info{
        display: flex;
        align-items: center;
        .desc{
            border-left: 5px solid var(--blue);
            padding: 10px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                left: -9px;
                width: 5px;
                height: 5px;
                background-color: transparent;
                border: 5px solid var(--main);
                border-color: transparent transparent var(--blue) var(--blue);
            }
        }
    }
    @media (max-width: 770px) {
        grid-template-columns: 1fr;
        .info{
            .desc{
                border-left: 0;
                margin-top: 10px;
                text-align: center;
                &::before{
                    display: none;
                }
            }
        }
    }
    
}

#contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10vh auto;
    @media (max-width: 770px) {
        grid-template-columns: 1fr;
    }
    .cta{
        width: 90%;
        margin: 0 auto;
        @media (max-width: 770px) {
            padding: 15px 0;
        }
    }
    .form{
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0, 0, .1);
        border-radius: 5px;
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        @media (max-width: 770px) {
            width: 90%;
        }
        .input-wrapper{
            position: relative;
            label{
                color: #666666;
                position: absolute;
                background-color: white;
                left: 20px;
                font-size: 12px;
                font-weight: bold;
                padding: 5px;
                top: -2px;
            }
            input, select{
                color: #666666;
                border: 1px solid #dcdcdc;
                font-size: 14px;
                padding: 10px;
                width: 100%;
                margin: 10px 0;
                border-radius: 20px;
                background-color: white;
                &:focus{
                    outline: none;
                    border-color: var(--blue);
                }
            }            
        }
        button{
            display: block;
            position: relative;
            margin: 0 auto;
            background-color:var(--main);
            padding: 5px 20px;
            color: white;
            border: 0;
            border-radius: 20px;
            cursor: pointer;
        }
    }
}